body{
    
    margin: 0px;
    padding: 0px;
}
.Main-Con{
    background-color: rgba(194, 194, 194, 0.2);
}
.Main-Form{
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.133);
    border-radius: 5px;
}
.Form-Img{
    width: 500px;
    height: 500px;
}

